<h1>Login to Travel App!</h1>
<br>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
<br>
<br>
Don't have an account?   <a href="/signup"> Sign Up </a><br>