<p> Welcome, to Travel App <%= @user.username %> </p>
<h2> Destinations </h2>

<h3> <a href="/destinations/new"> Click to create a destination </a> </h3>

<% @destinations.each do |destination| %>
  <div>
    <%= destination.name %>
  </div>
<% end %>


