
<h2>Add a destination</h2>
<form action="/destinations" method="POST">

<br>
  <label for='name'><strong>Enter Name of Destination:</strong></label>
  <input type='text' id='name' name='name' require><br>
  <br>
<br>
  <label for='location'>Enter Location:</label>
  <input type='text' id='location' name='location' require><br>
  <br>

  <label for='description'>Enter Description:</label>
  <input type='text' id='description' name='description' require><br>
<br>
  <input type='submit' id='submit' value='Create Entry'>


</form>

