
  <!DOCTYPE html>
<br>
<br>
  <html>
<style>
body {
  font-size: 16px;
}
</style>
<body>

<span style='font-size:100px;'>&#127753;</span>

</body>
</html>
<br>
<br>
<br>


<nav>
  <% if logged_in? %>

  <font face="Arial"><h1>Welcome to Travel App, <%=current_user.username%>!</h1></font>
   <h3><i> All the places you'll go </i></h3>
    <br>
    <br>
    <a href="/destinations/new"> Create a Destination </a>
<br>
<br>
    <a href="/destinations"> See your list </a>
    <br>
    <br>
  
  <% else %>
  <font color="blue"><h2>Welcome to Travel App!</h2></font>
  <font color="blue"><h3><i> All the places you'll go </i></h3></font>
  <br>
  <p>Please sign in or signup below:</p>
  <br>
    <a href="/signup"> Sign Up </a><br>
    <br>
    <a href="/login"> Sign In </a><br>
  <%end %>



</nav>
